<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
  <meta charset="UTF-8">
  <title>Оценить фильм от 1 до 5</title>
</head>
<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3" th:text="'Оценка фильма ' + ${film.getFilmTitle()}"></h3>
  <form method="POST" th:action="@{/rate/film}" th:object="${rateFilmForm}">
    <input type="hidden" name="filmId"
           th:value="${film.getId()}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="averageGrade" type="number" class="form-control" id="averageGrade" placeholder="Оценка">
          <label for="averageGrade">Оцените фильм от 1 до 5</label>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary">Оценить</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>
</html>
