<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <title>Режиссеры</title>
</head>
<body>
<div layout:fragment="content">
  <h1>Все режиссеры</h1>
  <div class="row">
    <div class="col">
      <a href="directors/add"
         class="btn btn-secondary"
         role="button"
         style="float: right"
         aria-disabled="true">Добавить режиссера</a>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">ФИО режиссера</th>
      <th scope="col">Позиция</th>
<!--      <th scope="col">Страна</th>-->
<!--      <th scope="col">Дата выхода</th>-->
<!--      <th scope="col">Режиссер(ы)</th>-->
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="director : ${directors}">
      <td>
        <a class="text-link text-blue" th:href="'/directors/' + ${director.getId()}" th:text="${director.getDirectorsFio()}"></a>
      </td>
      <td th:text="${director.getDirectorsFio()}"></td>
      <td th:text="${director.getPosition()}"></td>
      <td>
        <ul>
          <li th:each="film : ${director.getFilms()}" th:text="${film.getFilmTitle()}"></li>
        </ul>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
