.not-enough-film {
    color: #470F3C;
}

.nav-link {
    color: whitesmoke !important;
}

.btn-primary {
    color: white !important;
    background-color: #470F3C !important;
    border-color: #3F0D35FF !important;
}

.btn-primary:hover {
    background-color: #3f0d35 !important;
    border-color: #3F0D35FF !important;
    color: white !important;
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    color: #001445;
}

.hr {
    border: 1px solid;
    color: #001445;
}

.fit-picture {
    scale: 70%;
    margin-bottom: 0;
    margin-top: 0;
}